body{
    background-color: black;
}

h1{
    color: white;
    font-family: "Delicious Handrawn", "consolas", sans-serif;
}

p{
    color: aquamarine;
    font-family: "consolas", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
}