body {
    margin: 0px;
}

#box1 {
    border: 5px solid;
    width: 250px;
    height:250px;
    font-size: 18px;
    background-color: greenyellow;
    padding:50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

#box2 {
    border: 5px solid;
    width: 250px;
    height:250px;
    font-size: 18px;
    background-color: dodgerblue;
    padding:5px;
    margin-left: auto;
    margin-bottom: 50px;
}

#box3 {
    border: 5px solid;
    width: 250px;
    height:250px;
    font-size: 18px;
    background-color: dodgerblue;
    padding:5px;
    margin-right: auto;
    margin-left: auto;
}