#box1 {
    border:  1px solid;
    height: 300px;
    width: 300px;
    background-color: skyblue;

    position: relative;
    top: 150px;
    left: 150px;
}
#box2 {
    border:  1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;

    position: absolute;
    top: 150px;
    left: 150px;
}

#box3 {
    border:  1px solid;
    height: 100px;
    width: 100px;
    background-color: green;

    position: absolute;
    top: 150px;
    left: 150px;
}

#box4 {
    border:  1px solid;
    height: 100px;
    width: 100px;
    background-color: yellowgreen;

    position: fixed;
    top: 100px;
    left: 100px;
}

#box5 {
    border:  1px solid;
    height: 100px;
    width: 100px;
    background-color: goldenrod;

    position: sticky;
    top: 50px;
    left: 50px;
}