/* 방문 전 링크 상태 */
a:link {
    color: green;
}

/* 방문 후 링크 상태  */
a:visited {
    color: teal;
}

/* 마우스 오버했을 때 링크 상태  */
a:hover {
    color: red;
}

/* 클릭했을 때 링크 상태  */
a:active {
    color: blue;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: white;
}

/* li:nth-child(1) {
    background-color: yellowgreen;
} */

/* li:nth-child(even) {
    background-color: skyblue;
} */

/* li:nth-child(odd) {
    background-color: yellowgreen;
} */

li:nth-child(2n+1) {
    background-color: aquamarine;
}